<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/layout :: head">
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
</head>
<body>
<nav th:replace="fragment/layout :: menu"></nav>

<div class="card-header bg-dark text-white">
    Ejercicio 1
</div>
<div class="card-body">
    <h5 class="card-title">Ejercicio 1</h5>
    <form th:action="@{/ejercicio1}" th:object="${ejercicio1}" method="post">
        <div class="mb-3">
            <label class="form-label">Temperatura</label>
            <input th:field="*{temperatura}" type="text" name="preUnitario" class="form-control">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary">Consultar</button>
        </div>
    </form>
    <div class="alert alert-primary" th:if="${total != null}">
        <p th:text="${total}"></p>
    </div>
</div>
</body>
</html>